body {
  margin: 0;
  background: #030637;
  display: flex;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color:white;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #030637;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  border: 1px solid black;
  gap: 1px;
  background-color: black;
  border-radius: 8px;
  overflow: auto;
}

li {
  background-color: white;
  padding: 8px;
}

li:hover {
  background: #dadbf9;
}

a {
  font-weight: 800;
  text-decoration: none;
}

[data-amplify-authenticator] {
  --amplify-components-authenticator-router-box-shadow: 0 0 16px var(--amplify-colors-overlay-10);
  --amplify-components-authenticator-router-border-width: 0;
  --amplify-components-authenticator-form-padding: var(--amplify-space-medium) var(--amplify-space-xl) var(--amplify-space-xl);
  
  /* Primary Button */
  --amplify-components-button-primary-background-color: #910A67; /* Dark Magenta */
  --amplify-components-button-primary-color: white; /* White */
  --amplify-components-button-primary-hover-background-color: #720455; /* Deep Purple */
  --amplify-components-button-primary-hover-color: white; /* Keep text white on hover */
  
  /* Focus Outline */
  --amplify-components-fieldcontrol-focus-box-shadow: 0 0 0 2px #720455; /* Deep Purple */
  
  /* Tabs */
  --amplify-components-tabs-item-active-border-color: #3C0753; /* Purple */
  --amplify-components-tabs-item-color: #3C0753; /* White */
  --amplify-components-tabs-item-active-color: #910A67; /* Dark Magenta */
  --amplify-components-tabs-item-hover-color: #720455;
  
  /* Links */
  --amplify-components-button-link-color: #720455; /* Deep Purple */
  --amplify-components-accordion-item-trigger-focus-border-color: #3C0753;
}

@media (max-width: 768px) {
  .amplify-table {
    font-size: 0.8rem; /* Reduce font size on smaller screens */
  }

  .amplify-button {
    font-size: 0.8rem;
    padding: 6px 10px;
  }
}